.mat-stepper-horizontal {
  background-image: url('../../../assets/images/bg-sidebar-mobile.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100vw;
  height: 150px;
}

.mat-horizontal-stepper-wrapper {
  margin: auto;
  max-width: 768px;
}

.mat-horizontal-stepper-header-container {
  padding: 12px 48px 108px;
}

.mat-horizontal-stepper-header {
  pointer-events: none;
}

.mat-step-header.mat-primary {
  box-sizing: border-box;
  padding: 0;
  display: grid;
  place-items: end center;
}

.mat-horizontal-stepper-header-container .mat-step-icon {
  border: 2px solid #fff;
  padding: 16px;
  font-size: 14px;
}

.mat-horizontal-content-container {
  /* position: absolute; */
  /* top: 100px; */
  /* width: 100% !important; */
  margin-top: -100px;
  padding: 0 !important;
}

.mat-mdc-text-field-wrapper {
  background-color: #fff !important;
  padding: 0 !important;
}

.step-content {
  width: calc(100% - 48px);
}


@media all and (max-width:640px) {}
