<mat-stepper ngClass="stepper h-full bg-gray-200" orientation="horizontal" linear="false" #stepper>
  <mat-step ngClass="mat-step flex-col justify-between" editable="true">
    <step-first></step-first>
  </mat-step>

  <mat-step editable=" true">
    <step-second></step-second>
  </mat-step>

  <mat-step editable="true">
    <step-third></step-third>
  </mat-step>

  <mat-step editable="true">
    <step-fourth></step-fourth>
  </mat-step>

  <mat-step>
    <step-fifth></step-fifth>
  </mat-step>
</mat-stepper>
