.mat-horizontal-stepper-header-container {
  background-image: url('../../../assets/images/bg-sidebar-mobile.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  padding: 12px 48px 108px;
}

.mat-horizontal-stepper-header {
  pointer-events: none;
}

.mat-step-header.mat-primary {
  box-sizing: border-box;
  padding: 0;
  display: grid;
  place-items: end center;
}

.mat-horizontal-stepper-header-container .mat-step-icon {
  border: 2px solid #fff;
  padding: 16px;
  font-size: 14px;
}

.mat-horizontal-content-container {
  position: absolute;
  top: 100px;
}

.mat-mdc-text-field-wrapper {
  background-color: #fff !important;
  padding: 0 !important;
}
